[submodule "fake-news"]
	path = fake-news
	url = https://github.com/compromis/fake-news-quiz
[submodule "rajoy-homer"]
	path = rajoy-homer
	url = https://github.com/compromis/rajoy-or-homer-quiz
[submodule "gurtel"]
	path = gurtel
	url = https://github.com/compromis/gurtel-quiz
[submodule "quiz-backend"]
	path = quiz-backend
	url = https://github.com/compromis/quiz-backend
